/*General*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 100%, 74%);
    background-image: url(../img/bg-intro-desktop.png);
    font-size: 17px;
    font-family: "Roboto", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Titoli*/

h1{
    line-height: 43px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight:900;
    color: white;
}

p{
    color: white;
}

/*Text color*/

a{
    cursor: pointer;
    text-decoration: none;
    color: hsl(0, 100%, 74%) ;
}

.text_white{
    color: white;
}

.text_small{
    color: grey;
    font-size: 10px;
}

.text_red{
    color: rgb(255, 0, 0);
}

/*Shadow*/

.shadow{
    box-shadow: 0px 7px 0 rgba(0, 0, 0, 0.159);
}

/*Wrapper*/

.wrapper{
    display: flex;
    
    width: 75vw;
    margin: 10vh auto;
    /*DEBUG*/
    /*background-color: bisque;*/
}

.sx{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    padding-right: 40px;
}

.dx{
    display: flex;
    flex-direction: column;

    width: 50%;
}

/*Button*/

button{
    box-shadow: 0 0 10px 10px;
    cursor: pointer;
    padding: 15px 0;
    border: 0;
    border-radius: 10px;
    background-color: hsl(248, 32%, 49%);
}

.claim_bt{
    box-shadow: 7px 5px 20px -19px rgb(0, 0, 0) inset;
    border-radius: 5px;
    padding: 15px 0;
    color: white;
    margin: 10px 0;
    background-color: hsl(154, 59%, 51%);
}

.claim_bt:active .error{
    display: inline;
}

/*Input*/

input{
    font-size: 12px;
    font-weight: 500;
    margin: 7px 0;
    padding: 10px 30px;
    border: 1px solid hsl(249, 10%, 26%);
    border-radius: 5px;
    width: 100%;
    height: 45px;
}

.input_card div{
    text-align: center;
}

input:hover{ 
    outline: 1.5px solid hsl(0, 0%, 0%);
}   

input:invalid{
  background-image: url(../img/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
  align-items: center;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

input:invalid .error{
    display: block;
}

.error{
    display: none;
    margin-bottom: 10px;
    font-style: italic;
    text-align: end;
}

.input:required .error{
    display: inline;
}

.input_card{
    display: flex;
    flex-direction: column;

    padding: 20px 30px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
}

/******************************************************/
/*Responsive*/

@media screen and (max-width:380px) {

    .wrapper {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    width: 90vw;
    margin: 10vh auto;
    }

    .sx{
        width: 100%;
        padding-right: 0;
        margin: 30px auto;
    }

    .dx{
        width: 100%;
        margin: 30px auto;
    }

    body{
    background-image: url(../img/bg-intro-mobile.png);
    }

    button{
    line-height: 24px;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 20px 60px;
    }

    .claim_bt{
    font-size: 12px;
    padding: 15px 5px;
    }

    h1{
    font-size: 34px;
}

}

